[2018-08-07 09:25] LanderMuruaga opened #1 "Error page realignment"
![newcon-06-error](https://user-images.githubusercontent.com/41282864/43766951-1eb71db8-9a34-11e8-91ec-5b4e2252f3a5.png)
Need to realign Error page.
See attached picture.

Next steps...

- Adding suggestion about what to do next (nt only dashboard)
- Offering courses
- Going back to previous position (if possible

[2018-08-07 09:27] svarlamov commented on #1
We only have text (and image) for the 404 (not found) page... I think another task is to create them for 403 (forbidden), 400 (bad request), 5XXs (server errors) @LanderMuruaga

[2018-08-08 12:37] svarlamov opened #2 "Course badges by topic"
Currently the course badge is hard-coded to always be the Java logo, but it should be dynamic based on the course's primary topic. For now it's okay to store the map of primary topic to badge on the client...

- [x] @LanderMuruaga Create/pull down course badges for Python, Go, C, C++, HTML, CSS, JS, TypeScript, Java (we already have but you can provide updated if you think we should improve it), U

[2018-08-08 12:52] svarlamov opened #3 "Auth ToS consent"
- [x] On https://accounts.exlinc.com/ customize the Keycloak theme to show the correct ToS linked to https://exlinc.com/legal on registration. Best to do this via the registration theme, since the behavior of the built-in Keycloak ToS is not GDPR-compliant and a bit out of the way for your typical registration flow...

[2018-08-09 04:50] svarlamov opened #4 "Certificate page cleanup"
Clean up certificate page to include marketing info and facilitate basic purchasing

[2018-08-09 04:56] svarlamov opened #5 "Finalize REPL problem display and grading"
- [x] Correct data sent to client for code problem rendering

- [x] Fix REPL (code problem) display

- [x] On submit, get solution from REPL via iframe postmessage

- [x] Implement grading API on the GQL server to score the problem

- [x] Implement grading backend

[2018-08-09 04:57] svarlamov opened #6 "Setup subscription billing dialog view"
We have all of the APIs and base GUI, just need to put it into the web-client react app and go live

[2018-08-09 05:02] svarlamov opened #7 "Use react-router Link or <noscript> links for SEO"
Currently most links on the site are implemented via onlclick listeners only. This is not good because web crawlers won't follow them unless they're links... So need to either swap in react router Link elements or add anchor tags with links wrapped in `<noscript>` for crawlers to pick up the links

[2018-08-09 10:07] EXLSunny opened #8 "Check-answer button not clickable after submitting empty answer."
In `Practice`(the quiz), after I click Check-answer Button without choosing any options, the red message showed up

<img width="1071" alt="screen shot 2018-08-09 at 18 32 53" src="https://user-images.githubusercontent.com/40050824/43893915-24c4ca40-9c03-11e8-9b3b-e1bbd11c0cfd.png">

Meanwhile, the Check-answer button turned grey and not clickable anymore. Even after I did choose a new answer, the

[2018-08-09 20:26] kkhenkina-EXL opened #9 "Introductory Overlay Screen"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** Sage's name on the top left is very small and hard to read. There is also a lot of spacing at the top of the message, but very little at the bottom. "Write a reply" is slightly misaligned from the left.

**How to Recreate:** Navigate to https://exlskills.com/learn-en/dashboard.

**What to Fix:** Sage's name size, spacing at t

[2018-08-09 20:33] kkhenkina-EXL opened #10 "Introductory Overlay Screen Minimization"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** When you click on "Write a reply" to insert a cursor the message minimizes to the bottom right and the cursor appears in the text input area there.

**How to Recreate:** Click on "Write a reply" when looking at the introductory message for the course.

**What to Fix:** The transition between the two is very awkward.

**Expect

[2018-08-09 20:40] kkhenkina-EXL opened #11 "Sage"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** Sage does not understand questions about how to navigate the site.

**How to Recreate:** Ask a question about how to access a course or register.

**What to Fix:** The responses that Sage provides.

**Expected Outcome:** I would expect "How do I access a course" to provide instructions on how to do so, same with registration.

[2018-08-09 20:48] kkhenkina-EXL opened #12 "Day/Night Theme Switcher"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** When the theme is changed from light/dark the chat stays the same color.

**How to Recreate:** Click on the switching button in the top right corner.

**What to Fix:** The chat box.

**Expected Outcome:** Should switch color themes with the rest of the page.

**Current State Screenshot:** ![image](https://user-images.githubus

[2018-08-09 20:53] kkhenkina-EXL opened #13 "Dashboard Component Misalignment"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** The components within the frames on the dashboard page are misaligned.

**How to Recreate:** Navigate to the Dashboard.

**What to Fix:** The "View All..." and the table in the learning activity section

**Expected Outcome:** The "View All..." should be left-aligned to the scroll button above. Same with the table edge in the

[2018-08-09 21:01] kkhenkina-EXL opened #14 "Notifications Presentation"
**URL:** https://exlskills.com/learn-en/notifications

**Current behavior:** The Notifications page content is misaligned.

**How to Recreate:** Navigate to the Notifications page https://exlskills.com/learn-en/notifications while not logged in and have no notifications.

**What to Fix:** Alignment of page content.

**Expected Outcome:** The "Notifications" header and the "You don't have any notif

[2018-08-09 21:03] kkhenkina-EXL opened #15 "Notifications Access"
**URL:** https://exlskills.com/learn-en/notifications

**Current behavior:** As a not logged in user of the service I still see the notifications icon and have access to a "My Notifications" page.

**How to Recreate:** Click on the notification icon and then "See all notifications"

**What to Fix:** The icon and the page itself should not be accessible without an account.

**Expected Outcome:** Th

[2018-08-09 21:08] kkhenkina-EXL opened #16 "Inappropriate Cursor Changes"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** Even when there is nothing to scroll the cursor still changes to a clicker when hovering over the buttons.

**How to Recreate:** Hover over the left/right navigation buttons on the course carousel.

**What to Fix:** The cursor's behaviour during hover-over.

**Expected Outcome:** The cursor shouldn't change if there is nothin

[2018-08-10 07:16] Hellboy1008 opened #17 "Sample code doesn't load"
![screen shot 2018-08-10 at 3 16 17 pm](https://user-images.githubusercontent.com/21053648/43944108-62b06d34-9cb0-11e8-8cce-77758aba5dbb.png)

[2018-08-10 07:29] Hellboy1008 opened #18 "Bug with checkbox questions"
"check answer" sometimes returns incorrect even if the user answer is correct. Only after trying to submit the same answer multiple times does "check answer" return correct.

[2018-08-10 07:42] Hellboy1008 opened #19 "instance.create is called before new workspace for repl"
![screen shot 2018-08-10 at 3 41 32 pm](https://user-images.githubusercontent.com/21053648/43945186-f94bdb7c-9cb3-11e8-9eed-349f8b422096.png)

[2018-08-11 16:22] svarlamov commented on #6
Currently, this flow is handled via the marketing site and **is** functional. Hence, marking as an enhancement

[2018-08-11 16:24] svarlamov commented on #17
Fixed. This was actually caused by WSENV server being down...

[2018-08-11 16:25] svarlamov commented on #19
This is a nuanced issue... So technically it is being handled correctly -- although it usually does throw an error -- it catches and retries once the workspace is up. Now, when this issue was posted, WSENV was not working so that's what caused it to not show the code.

Overall, I think the main thing is that this IDE is never going to be 100% perfect, so I think we need to invest in better error m

[2018-08-11 16:25] #19 closed

[2018-08-11 16:27] svarlamov commented on #12
The chat -- at least for the time being -- is provided by Intercom, and we actually can't change the GUI color dynamically

[2018-08-11 16:27] #12 closed

[2018-08-11 16:28] svarlamov commented on #9
This is vendored by intercom so we can't control much about this... I made some changes (and added an image of Sage) to the dialog, but we have to stay within what intercom supports for now

[2018-08-11 16:28] #9 closed

[2018-08-11 16:30] svarlamov commented on #10
Agree. Since I'm seeing a lot of intercom-related issues here, I'll give you access and you can talk to their support/customize these things to the extent that they are customizable.

[2018-08-11 16:31] svarlamov commented on #10
Invite sent @kkhenkina-EXL

[2018-08-11 16:35] svarlamov commented on #13
Sorry but this isn't a bug... CC @LanderMuruaga if you have comments

[2018-08-11 16:36] svarlamov commented on #14
CC @LanderMuruaga

[2018-08-11 16:39] svarlamov commented on #15
I don't see the point of blocking that page without an account... People should be able to do just about anything, except for things that (a) have the potential to users of the spam the platform unless users are verified; or (b) require authentication for processing of data, without having to be logged in.

If you use the same device, you'll find that things will work pretty seamlessly between ses

[2018-08-11 16:39] svarlamov commented on #15
CC @LanderMuruaga I guess, but I would like to close

[2018-08-11 16:40] svarlamov commented on #11
CC @LanderMuruaga I think this should be a task for this week on the product side, to create a list for this. Please DM me

[2018-08-11 16:45] svarlamov commented on #3
@stanvarlamov Maybe this is a good issue to start with... We need to create a custom keycloak theme in something like `exlinc/keycloak-theme` with just a customized login page (i.e., copy-paste the login `.ftl` file from keycloak mainline) and then create a dockerfile in something like `exlinc/keycloak-devops` to run our custom build. Then we can design the check box. What do you think?

[2018-08-11 16:47] svarlamov commented on #16
I'm about 90% sure that this is handled by some sort of carousel lib... Hopefully, it's customizable. Will leave this to community for now

[2018-08-11 16:51] svarlamov opened #20 "Show edit on GitHub button in course content"
@LanderMuruaga I think it'd be very helpful to directly link EXLskills cards (and likely course homepages) to Github. Probably via something like various "Edit on GitHub" buttons.

- [x] Track course repo URL in course yaml

- [ ] Add edit URL to card and course records in mongo

- [x] Get designs for this feature

- [ ] Expose fields via GQL API

- [ ] Implement in course cards GUI

- [ ] Impleme

[2018-08-11 16:56] svarlamov commented on #18
@stanvarlamov Can you take a look at this? It should be somewhere here...

Request arrives: https://github.com/exlskills/gql-server/blob/master/src/relay-mutations/exam/submit-answer.js#L105

Gets processed: https://github.com/exlskills/gql-server/blob/master/src/relay-mutate-and-get/exam-question-mag.js#L12

I looked at this previously, and it had to do with the ordering in the search... Idk what

[2018-08-12 04:17] svarlamov opened #21 "Activity link missing /learn-* prefix"
Currently, all activity links go to a 404 on the marketing site server, because they are missing the /learn prefix.

- [x] In web-client, prepend the localized /learn-* prefix to the link

[2018-08-12 04:19] svarlamov opened #22 "Instructor booking POC"
Complete instructor interaction POC

- [x] Ask questions POC

- [ ] Current boost balance intercom app

- [ ] In-conversation book instructor app

- [ ] Add intercom screenshare/calling apps

[2018-08-13 02:22] kkhenkina-EXL opened #23 "Question Stuck After "Try Again""
**URL:** https://exlskills.com/learn-en/courses/introduction-to-java-intro_to_java

**Current behavior:** Check answer button locks up if accidentally clicked

**How to Recreate:** Do not select an answer and click the "Check answer" button.

**What to Fix:** Availability of the button once an answer is selected.

**Expected Outcome:** If the button is clicked without an answer selected, once the

[2018-08-13 04:15] svarlamov commented on #23
Dupe of #8

[2018-08-13 04:15] #23 closed

[2018-08-13 04:18] svarlamov opened #24 "Course content iframe loading background"
It's really imperative to show a spinner as the default background for all `iframe` elements within course content so that users know that the editor (and other stuff) is loading.

[2018-08-13 07:14] stanvarlamov opened #25 "Favicon missing on some URLs"
Pages in https://exlskills.com/learn-en do not have the blue EXL favicon displayed in the browser tab header

[2018-08-14 02:27] svarlamov commented on #10
CC @LanderMuruaga - I think that this is more related to what you have been/are working on re:intercom. Please close if you think that this is covered elsewhere.

[2018-08-14 09:48] LanderMuruaga commented on #2
Course category icons
![category-icons2](https://user-images.githubusercontent.com/41282864/44084760-e44cebec-9fb7-11e8-80e9-c9dd91cf9c7f.png)
[Category-Icons.zip](https://github.com/exlskills/exlskills/files/2286376/Category-Icons.zip)

[2018-08-14 10:27] LanderMuruaga opened #26 "Email communications"
Different email communications we need to send to users.

![01-account-created](https://user-images.githubusercontent.com/41282864/44086573-50ba2696-9fbd-11e8-8c38-828a17739106.png)
![02-new course](https://user-images.githubusercontent.com/41282864/44086574-50d3b61a-9fbd-11e8-9c69-29bf76014861.png)
![03-finish-unit](https://user-images.githubusercontent.com/41282864/44086575-50ed9f44-9fbd-11e8-88

[2018-08-14 11:23] LanderMuruaga commented on #14
Different type of notifications.
Not sure if we can go that way on right sidebar or if it's useful.
![newcon-09-notofications](https://user-images.githubusercontent.com/41282864/44088907-20c2f802-9fc5-11e8-837d-cd1434a21634.png)

[2018-08-14 14:32] stanvarlamov commented on #18
Code had sorting on an undefined parameter, followed by in-sequence ID compare. Updated the code to use the actual ID compare, regardless of the position. Also updated the scoring for multi-choice answers.

[2018-08-14 15:06] LanderMuruaga commented on #1
Different error pages:
Note they all have same image, but will be nice to add a slightly different one for each.
- The **message** is different in all of them. The image needs to be adapted to each content adding contextual elements adapted to the message itself.
- The **objective** is to help users realize the message is different.

Image suggestions for each page/Sage...

- [ ]  404 - Question m

[2018-08-14 23:32] kkhenkina-EXL opened #27 "Incorrect Code Output"
**URL:** https://exlskills.com/learn-en/courses/ap-computer-science-a-java-ap_java/content

**Current behavior:** The run results have an additional line of code below them.

**How to Recreate:** Click on "Run" on the example for reserved words.

**What to Fix:** Results of run program.

**Expected Outcome:**
![image](https://user-images.githubusercontent.com/33239272/44123940-9dde025e-9ff8-11e8-8

[2018-08-14 23:48] kkhenkina-EXL opened #28 "Spacing between questions and answers"
**URL:** https://exlskills.com/learn-en/courses/ap-computer-science-a-java-ap_java/units/java-syntax-and-style-e68ae5890cc143a88fb940e3a0716db4/sections/basic-syntax-560ab490eff141daadc1f48ce626eed7/card/print-output-c7b8c4efb69c42219f2860f3558f6135

**Current behavior:** Large space between question and answer options.

**How to Recreate:** Navigate to a question that has long answers that requir

[2018-08-15 00:25] svarlamov commented on #27
@kkhenkina-EXL it's a bash **terminal** so that's how it works. We'll get started on an intro course/video that explain these things to users

[2018-08-15 00:26] svarlamov commented on #27
What's more interesting is that you only noticed this for one example? Btw the terminal isn't up right now - I'm updating some stuff there right now

[2018-08-15 00:29] kkhenkina-EXL commented on #27
@svarlamov at first it really didn't phase me because I've seen it in my linux classes but also wasn't sure if that would be expected in this case.

Quick q - am I correct in assuming users should be able to edit the terminals and run their code?

[2018-08-15 00:31] svarlamov commented on #27
Yeah that's the goal. Same for sysadmin courses, etc

[2018-08-15 00:32] kkhenkina-EXL opened #29 ""Show Hint" After Submission Blocks "Next" Button"
**URL:** https://exlskills.com/learn-en/courses/ap-computer-science-a-java-ap_java/units/java-syntax-and-style-e68ae5890cc143a88fb940e3a0716db4/sections/basic-syntax-560ab490eff141daadc1f48ce626eed7/card/indentation-7517e2ea7d634feb9a29ed89381103c9

**Current behavior:** If the "Show Hint" button is pressed after an answer is submitted the "Next question" or "Try Again" dialogues disappear.

**How

[2018-08-15 00:36] kkhenkina-EXL opened #30 "Course Section Navigation in Learn Mode"
**URL:** https://exlskills.com/learn-en/courses/ap-computer-science-a-java-ap_java/units/java-syntax-and-style-e68ae5890cc143a88fb940e3a0716db4/sections/errors-c7a7684d93214991a5c866e8d7c77cd1/card/runtime-errors-b17ff28d5c204c259d4ed8499472c228

**Current behavior:** You cannot switch between class sections using the navigation at the top of the page.

**How to Recreate:** Go to the learn mode of

[2018-08-15 00:39] svarlamov commented on #30
So I spent some time with this in the code... It's really a mess and the library that's used is garbage. @landermuruaga this is something that I suggest we redesign as it's confusing and doesn't fit well on mobile either

[2018-08-15 00:48] kkhenkina-EXL opened #31 "Marketing website footer discrepencies"
**URL:** https://exlskills.com/en/pricing/

**Current behavior:** Text on the main site sounds a bit off.

**Expected Outcome:**
![image](https://user-images.githubusercontent.com/33239272/44125935-3de7b740-a003-11e8-817d-e61ce9be7c5e.png)

**Current State Screenshot:**
![image](https://user-images.githubusercontent.com/33239272/44125837-c5b42be6-a002-11e8-933c-b6086b3d9e11.png)

[2018-08-15 00:51] svarlamov commented on #31
Yeah that is off. Only happening on pricing page?

[2018-08-15 00:54] kkhenkina-EXL commented on #31
That's the only place I've found the description so far. Is there a quick way to get a list of all pages under the domain to confirm?

[2018-08-15 01:14] svarlamov commented on #18
@stanvarlamov Is this in prod? You can always ping @kkhenkina-EXL to have a look and then close this

[2018-08-15 03:43] svarlamov commented on #5
Updates to the WSCQ question `data` field:

Fields to drop:
* `code`
* `code_tags`
* `validation_code`

New/changed fields:
* `api_version` - plain string
* `src_files` - intl string workspace files that represent the solution
* `test_files` - plain string workspace files that are used to test the solution
* `tmpl_files` - intl string workspace files that are used client-side as a template for the

[2018-08-15 03:55] kkhenkina-EXL commented on #31
This is also used here: https://exlskills.com/zh/%E4%BB%98%E8%B4%B9%E6%96%B9%E6%A1%88/
Which is in atrocious shape and should NOT be published IMO.
![image](https://user-images.githubusercontent.com/33239272/44130968-fc79e0d8-a01d-11e8-8691-1fb85110988c.png)

And is Footer 4 in WP. Would you like me to make the changes as I proposed above? Or would you like me to tinker with it some more?

[2018-08-15 04:04] kkhenkina-EXL opened #32 "Highlighted Links in Header"
**URL:** https://exlskills.com/en/*

**Current behavior:** The highlight color of the links is different on the header if it's scrolling or at the top of the page.

**How to Recreate:** Scroll down the page and watch the selected item on the header change color.

**What to Fix:** Color of highlighted link in header.

**Expected Outcome:** Highlighted links should highlight the same color regardles

[2018-08-15 07:15] svarlamov commented on #2
Hosted at root path: https://s3-us-west-2.amazonaws.com/exlskills-topic-badges/

File names (slightly renamed):

[code]

[2018-08-16 03:36] svarlamov commented on #31
Just delete the chinese version of that page... I can't believe that it was ever published @EXLSunny

[2018-08-16 03:38] svarlamov commented on #32
Umm the button style changes intentionally... Not sure abt the colors

[2018-08-16 03:38] svarlamov commented on #32
Please un-assign me as I'm not really relevant on these issues.. CC @LanderMuruaga

[2018-08-16 03:39] svarlamov commented on #27
Closing as this is not really relevant -- at least as an issue in this form... Separately there are some bash messages (regarding the kernel warnings) that I am cleaning up, but that's another story...

[2018-08-16 03:39] #27 closed

[2018-08-16 03:41] svarlamov commented on #26
@LanderMuruaga Please edit the issue to break each email down into tasks and I think that we need to talk a bit about the specifics of the language... As that's not ready for implementation in its current form

[2018-08-16 03:43] svarlamov commented on #15
@LanderMuruaga Pls check and close

[2018-08-16 05:23] svarlamov commented on #2
@LanderMuruaga Can you also attach a default/unknown badge? Thanks

[2018-08-16 06:58] LanderMuruaga commented on #15
To me makes sense what Sasha is saying. Actually both, but personally I see the Notifications like they way the system is communicating with the user and where users can track and check everything the system is telling them.
i.e. If you are NOT logged in and you finish a unit, the system should tell you something or should react with a little notification (like... Hey, nice job!), and to me this i

[2018-08-16 06:58] #15 closed

[2018-08-16 08:18] LanderMuruaga commented on #2
Added the default icon (default-exl.png) + renamed all icons.
[Category-Icons.zip](https://github.com/exlskills/exlskills/files/2292909/Category-Icons.zip)
![category-icons](https://user-images.githubusercontent.com/41282864/44196958-ab129980-a13d-11e8-8703-a31790c38fba.png)

[2018-08-16 08:20] svarlamov commented on #2
Did you mean to close this?

[2018-08-16 08:23] LanderMuruaga commented on #2
Not really. My fault :)

[2018-08-16 08:42] LanderMuruaga commented on #14
Current style notifications; No content + Notifications.

![nonotifications](https://user-images.githubusercontent.com/41282864/44194572-b1514780-a136-11e8-9deb-dc3993d18ce4.png)

We can use badges or not. It could be nice for a future to easily understand where are the notifications coming from.
![notifications](https://user-images.githubusercontent.com/41282864/44194594-bb734600-a136-11e8-8b94-d

[2018-08-16 08:44] LanderMuruaga commented on #28
Working on it. Even they are fully functional, this pages need some love.

[2018-08-16 08:51] LanderMuruaga commented on #29
Interesting point.
Need to check the whole interaction model for this piece/buttons.
Again, is fully functional, but we can do it much better :)

We need to look at it strategically to understand the effort required to redesign/change this part and decide what to do with it.

[2018-08-16 09:07] svarlamov commented on #25
In production

[2018-08-16 09:07] #25 closed

[2018-08-16 09:07] svarlamov commented on #2
This is in production -- please take a look and close if everything looks good

[2018-08-16 09:07] svarlamov commented on #2
CC @LanderMuruaga

[2018-08-16 09:13] LanderMuruaga opened #33 "Course info page - Content realignment"
**Current situation**
Information crowded info page
https://exlskills.com/learn-en/courses/ap-computer-science-a-java-ap_java/info

**Solution**
Realign and format the content to make it easy to read/easy to understand

**Tasks**

Added by @svarlamov

- [ ] Update margins on markdown->html content

- [x] Add global max width constraints to course info page

![course-info-page](https://user-images.

[2018-08-16 09:17] svarlamov commented on #28
@LanderMuruaga This is because of the behavior of the split toggle... I think that it's an area of focus on this page... Not urgent though -- obviously this stuff is functional, so it's just improvements

[2018-08-16 09:21] svarlamov commented on #33
- [ ] Update margins on markdown->html content

- [ ] Add global max width constraints to course info page

[2018-08-16 11:19] LanderMuruaga commented on #33
Some specs to help on front-end.
Basically it is a matter of adding some space in between blocks and changing the title sizes...
Top title: 36px
Section title: 20px

![course-info-page-specs](https://user-images.githubusercontent.com/41282864/44205499-e2da0b00-a156-11e8-8eaf-8ee6d5f1a8ac.png)

[2018-08-16 11:41] #3 closed

[2018-08-16 12:07] stanvarlamov commented on #5
Use WSENV signalling API to get the URL to a wsenv instance: https://wsenv-signalling-api.exlcode.com/v0/connect
It's the URL to the WSENV websocket endpoint -> the hostname for HTTPS instead of WSS
Future: this endpoint will also be generating a JWT needed in order to connect to the WSENV instance

[2018-08-17 03:35] svarlamov opened #34 "Page titles/descriptions for SEO with React Helmet"
- [x] Add `<Helmet>` to all pages

- [x] Update English messages to be consistent `EXLskills - Page Name`

- [x] Add a number of description messages (not yet added for many pages)

- [x] Push English messages to poeditor for translations

[2018-08-17 03:37] svarlamov opened #35 "WSENV Deploys/CI"
- [ ] Build up ansible role for WSENV deploys

- [ ] Create AMI with ansible

- [ ] Setup WSENV autoscaling group

- [ ] Finalize wsenv signalling logic/keep alives

- [ ] Require JWTs for WSENV acces (requires breaking changes to web editor, wsenv gateway)

[2018-08-17 04:11] svarlamov commented on #8
Fixed, deploying soon... Also fixed incorrect text color of no more questions header when in dark mode

[2018-08-17 08:45] svarlamov commented on #2
Pls review/close @LanderMuruaga

[2018-08-17 08:56] LanderMuruaga commented on #2
Looking good in production.

[2018-08-17 08:56] #2 closed

[2018-08-17 09:17] svarlamov commented on #21
Fixed, will go into prod today

[2018-08-18 02:31] stanvarlamov opened #36 "Display "Outage" message when backend services are down"
Currently, if, e.g., the GQL server is down, the client is not operational but doesn't reflect the lost of functionality. Instead, unstructured software-produced errors show in individual fields on the screen. Need a method of replacing the client with an outage message

[2018-08-20 02:10] svarlamov commented on #7
Using react router `<Link />`s now

[2018-08-20 02:10] #7 closed

[2018-08-20 02:11] #34 closed

[2018-08-20 02:11] svarlamov commented on #31
Can we close this now @kkhenkina-EXL ?

[2018-08-20 02:12] svarlamov commented on #13
@LanderMuruaga Pls comment on this

[2018-08-20 02:12] #8 closed

[2018-08-20 02:13] svarlamov commented on #21
Done

[2018-08-20 02:13] #21 closed

[2018-08-20 02:13] svarlamov commented on #18
@Hellboy1008 Can u check n close today? Thx

[2018-08-20 02:15] svarlamov commented on #36
@LanderMuruaga Can you design an overlay for this state? This will happen if one of the critical backend services is not accessible by the client... So something to the effect of, 'Check your internet connection or reload in a few seconds' message

[2018-08-20 03:25] kkhenkina-EXL commented on #31
@svarlamov do you want me to make the proposed changes to the footer?

[2018-08-20 03:55] svarlamov commented on #31
Ummm no... I think that the footer should be the same as on the index page and delete the chinese version of the pricing page (if it still even exists) since it does not have the latest code

[2018-08-20 03:56] svarlamov commented on #31
Just in case -- to clarify:

![image](https://user-images.githubusercontent.com/10859025/44319703-0ca17380-a470-11e8-9a71-0c4e652aaf09.png)

[2018-08-20 04:15] Hellboy1008 commented on #18
Tested the current course and the issue has been solved.

[2018-08-20 04:15] #18 closed

[2018-08-20 07:40] LanderMuruaga commented on #13
Right is not a bug. Also, I'll keep it in a second layer as we'll need to update the backend sooner or later and we have a clear idea about this kind of tasks.

[2018-08-21 04:15] svarlamov commented on #5
In production, functional for Java. Other langs might require more work here and there, but closing this issue as the primary impl is complete

[2018-08-21 04:15] #5 closed

[2018-08-21 04:17] svarlamov commented on #33
Done and in production, with minor changes in order to adhere to GitHub markdown standards. Also, some of the double-wide spacing needs to happen in the courseware itself. If you feel compelled to make those changes, you can start an issue/PR in the course-java-basics repo

[2018-08-21 04:17] #33 closed

[2018-08-21 04:18] svarlamov commented on #10
@kkhenkina-EXL @LanderMuruaga I don't think that there's anything that we can currently do about this... Depending on the outcome of your conversations with the Intercom folks, I recommend to close this issue

[2018-08-21 04:19] svarlamov commented on #28
I'm not sure that this issue itself is going anywhere... @LanderMuruaga I suggest to close unless we can come up with something actionable here

[2018-08-21 04:20] svarlamov commented on #32
@kkhenkina-EXL You are all setup with WP, so I suggest if you feel that this is something worth tackling (i'm not sure...) you can implement there or close this

[2018-08-21 04:23] svarlamov opened #37 "EXLskills Prerendering for SEO"
- [x] Decide on strategy (outcome: use puppeteer to render pages if the request is coming from a bot -- proxied via nginx, deploy in a sidecar container on ECS)

- [x] Build nodejs server (wrapper) for puppeteer to accept requests, render the right pages, and send back clean HTML

- [x] Include proxy configuration in web client nginx

- [x] Deploy into prod and test out with google fetch

- [x] Op

[2018-08-21 07:39] LanderMuruaga commented on #10
Agree, I think is better to close by now, and  we can address it later.

[2018-08-21 07:39] #10 closed

[2018-08-21 07:44] LanderMuruaga commented on #28
Agree, I think is good to track them so we can come back to it later, but in general we'll face all aesthetic/alignment issues in na near future (TBD).

[2018-08-21 07:44] #28 closed

[2018-08-21 11:03] svarlamov commented on #37
Fetch as google seems to be working (rendering the page), however we will keep monitoring. It also required 4x the resources to the containers

[2018-08-22 01:35] kkhenkina-EXL opened #38 "Paid Sub. "Upgrade Button" Lag"
**URL:** exlskills,com/learn-en

**Current behavior:** Once a subscription is paid for it does not immediately reflect on the dashboard. Once refreshed, the "Upgrade" button is removed.

**How to Recreate:** Sign up for a subscription and click on "here" to go back to the dashboard on the payment confirmation page.

**What to Fix:** "Upgrade" button availability after subscription is paid.

**Expe

[2018-08-22 02:10] #37 closed

[2018-08-22 02:10] svarlamov commented on #24
Pushed to master, will be in next prod deploy

[2018-08-22 02:10] #24 closed

[2018-08-22 05:37] svarlamov commented on #38
So looking at the logs, I can conclude that it almost certainly due to Zoho webhook lag -- not the web client itself... In the logs, there's a roughly 20 second lag between the subscription being created and the webhook call appearing in the logs. I think the only option is likely to add a special flag in the link (or a special URL) that will show a thank you/loading overlay and periodically ping

[2018-08-22 14:54] LanderMuruaga commented on #38
I think I understood, but not sure. Please, let me know if this is what you are thinking about...
You can use this overlay window almost everywhere but... Is this the right page to display?
![paid-transition](https://user-images.githubusercontent.com/41282864/44471294-e0325680-a62b-11e8-97d0-efe3a8a77160.png)

[2018-08-22 17:56] SirCmpwn opened #39 "Software using the commons clause is not open source"
Hello! Your repositories, website, and documentation refer to your offerings as "open source", which is defined by the [OSD](https://opensource.org/osd). However, the use of the Commons Clause prevents your software from meeting this definition. Please update your language or, preferrably, remove this clause from your licenses.

[2018-08-22 18:21] kkhenkina-EXL opened #40 ""Upgrade" Button MIA on Mobile"
**URL:** exlskills.com/learn-en

**Current behavior:** If you are logged into an account on mobile you cannot see the "Upgrade" button and there is no other way to access the link.

**How to Recreate:** Log into an account w/o an active subscription using a mobile device.

**What to Fix:** Availability of "Upgrade" button on mobile layout.

**Expected Outcome:** Ability to upgrade service even thr

[2018-08-22 18:23] kkhenkina-EXL opened #41 "Typo in Subscription Confirmation"
**URL:** https://billing.exlinc.com/hostedpage/2-11b415830677904a909bf155735b64d2e6ea8a8d94a40a758c00eeab4b579fee8f240dcb304500a278a71458cacf5f92/thankyou

**Current behavior:** The Product Name as it appears on the payment confirmation page is missing spaces.

**How to Recreate:** Subscribe for the first time to EXLskills.

**What to Fix:** Product name grammar

**Expected Outcome:** "EXLskills -

[2018-08-22 18:40] kkhenkina-EXL opened #42 "EXLskills Logout"
**URL:** https://exlskills.com/en/

**Current behavior:** When you "Log Out" of EXLskills you're sent to the exlskills.com marketing site.

**How to Recreate:** Log out of an account on EXLskills.

**What to Fix:** Page which users are redirected to upon logout.

**Expected Outcome:** You should be redirected to the login page.

[2018-08-22 18:49] kkhenkina-EXL opened #43 "Password Requirements"
**URL:** https://accounts.exlinc.com/auth/realms/exlinc/protocol/openid-connect/auth?response_type=code&redirect_uri=https%3A%2F%2Fauth-api.exlskills.com%2Fauth%2Fkeycloak%2Fcallback&client_id=exlskills

**Current behavior:** You can use any length password with any characters in it.

**How to Recreate:** Select "Register" to set up a new account, or go to account settings to edit a current passwo

[2018-08-22 18:54] kkhenkina-EXL commented on #31
The footer has been changed accordingly and the Chinese version of the page has been deleted.

[2018-08-22 18:54] #31 closed

[2018-08-22 19:07] kkhenkina-EXL commented on #32
Highlighted text color has been adjusted, closing this out now!

[2018-08-22 19:07] #32 closed

[2018-08-23 00:25] kkhenkina-EXL opened #44 "Logged Out Lag"
**URL:** exlskills.com/learn-en

**Current behavior:** If you log out and navigate back to exlskills.com/learn-en the page is blank until it is refreshed a few times.

**How to Recreate:** Log out of your EXLskills account, click on "Get Started" on the homepage once you're redirected there.

**What to Fix:** Blank screen/need to refresh.

**Expected Outcome:** I should just see /learn-en.

[2018-08-23 01:01] svarlamov commented on #38
Yeah we'll show something like that on the dashboard then. Makes sense -- thanks @LanderMuruaga

[2018-08-23 01:04] svarlamov commented on #43
Relatively straightforward to set this up via Keycloak... Will look into it

[2018-08-23 01:06] kkhenkina-EXL commented on #43
@svarlamov forgot to mention - this should also be enforced at user password changes, as well as not being able to use the 4 most recent passwords. PW changes should probably be required every 90 days.

[2018-08-23 01:06] svarlamov commented on #40
Well you can see why -- there is no room for it... CC @LanderMuruaga

[2018-08-23 01:07] svarlamov commented on #42
Why is that you think? Since you don't have to be logged in to use the system, I don't see a solid rationale for that. I would rather showcase the marketing site. CC @LanderMuruaga

[2018-08-23 01:08] kkhenkina-EXL commented on #40
This is true! But you should still be able to get a link through the "Billing" section of the settings page? Or some other creative solution per Lander.

[2018-08-23 01:11] kkhenkina-EXL commented on #43
@svarlamov one more thing - do we have an inactivity timeout? If not, should limit it to like 15-20 min.

[2018-08-23 01:15] kkhenkina-EXL commented on #42
My logic is that (per my amendment to the Password issue #43 - users should be logged out due to inactivity.) should users logged out always be redirect them to the marketing page? I'd rather see a login screen and be able to get right back to where I left off if I'm timed out.

Also - If users are actually logging out (not just closing browser) it's usually to switch accounts or stop working on w

[2018-08-23 02:29] kkhenkina-EXL opened #45 "e-Mail Change Issues"
**URL:** https://www.exlskills.com/learn

**Current behavior:** If you change your email in the "Account Settings" links you will not be able to correctly access your avatar or zoho services.

**How to Recreate:** Change the email related to an account with a subscription and try to access the Billing console. Or look at the avatar.

**What to Fix:** Updates to all related systems once an e-mail a

[2018-08-23 02:50] svarlamov commented on #39
Thanks for opening up this issue as it's something we have been looking at since the various discussions on HN garnered such a tremendous response... Reading [your post on HN](https://news.ycombinator.com/item?id=17818407) and the plethora of comments, it's clear that there's a lot of disagreement about the use of the Commons Clause for software projects that make their source available to the pub

[2018-08-23 03:32] stanvarlamov opened #46 "Question Grading Trigger in Exams"
Currently, question grading in exam is triggered by a change in the answer section, including grading requests for WSCQ questions being triggered by changes inside the Editor. This causes unnecessary and uncontrolled traffic to the grading engine. The suggested trigger should be on "leaving" the question page via navigation buttons / slider. The grading should be called if changes were made to the

[2018-08-23 06:46] LanderMuruaga commented on #1
Here are the different Sages, customized for each error page...
![error_400](https://user-images.githubusercontent.com/41282864/44509126-04844680-a6b1-11e8-9515-9b6aa01d78e6.png)
![error_403](https://user-images.githubusercontent.com/41282864/44509127-051cdd00-a6b1-11e8-9a48-0062d7f3fe70.png)
![error_404](https://user-images.githubusercontent.com/41282864/44509129-051cdd00-a6b1-11e8-9cc1-774f4e14d

[2018-08-23 09:34] LanderMuruaga commented on #40
Both are right.
No room for it of course, but it also needs to be displayed somewhere else.
I think the best place is inside the menu. This is where is expected to be or where I expect to find it. I mean, when the mobile menu appears it brings all elements on the header that have no room on the mobile layout. That way it is accesible from every page or section.

[2018-08-23 10:06] LanderMuruaga commented on #36
Text could be customized, and automatic reload deleted.
![slow-reload](https://user-images.githubusercontent.com/41282864/44519333-052ad600-a6cd-11e8-9a56-daa5d6f4aad2.png)

[2018-08-23 10:13] LanderMuruaga commented on #42
Usually the logout is voluntary, I mean is not an error or done by mistake.
Taking into account that in our system you do not need to login, we can keep the user in the same place(to keep that "no need to login consistency"), but letting them know they are logged out. This could be through a notification.

As soon as the user knows what is going on, is ok.

[2018-08-23 11:53] ddevault commented on #39
Thanks for taking the time to make a detailed write-up of your thoughts.

First of all, if you don't want to drop the commons clause (something well within your rights), I think you should still update the language across your docs, repos, website, etc - to remove the indications that it's open source. Since you agreed that your software is *not* open source, I think this seems like a reasonable a

[2018-08-23 16:23] kkhenkina-EXL opened #47 "Header Misalignment on Pages w/ Side-Nav"
**URL:** https://exlskills.com/learn-en/settings & https://exlskills.com/learn-en/courses

**Current behavior:** The header options are still in the middle of the screen as they are on the dashboard page.

**How to Recreate:** Open either courses or settings and see the header options still in the middle.

**What to Fix:** Header on pages that have side-nav.

**Expected Outcome:** The left-aligned

[2018-08-23 20:12] kkhenkina-EXL opened #48 "Duplication of Download Option"
**URL:** https://billing.exlinc.com/portal/exlinc/index#/invoices/invoice/1361845000000151089

**Current behavior:** There is a "Download" button as well as a "Download PDF option in the drop-down menu.

**How to Recreate:** Look at an invoice and click on the drop down to show additional options.

**What to Fix:** Duplication of download option/ "extra options" drop down/print option.

**Expected

[2018-08-23 20:56] kkhenkina-EXL opened #49 "Account Creation and Update Confirmation e-Mails"
**URL:** https://accounts.exlinc.com/auth/realms/exlinc/login-actions/registration?client_id=exlskills&tab_id=kweiIiEJgqo

**Current behavior:** If you sign up for a new account, or change your e-mail address, or any other account changes, there are no e-mail notifications.

**How to Recreate:** Create or update an account.

**What to Fix:** e-Mail notifications.

**Expected Outcome:** You should

[2018-08-23 23:44] svarlamov commented on #48
This is Zoho. Call support. Can't fix

[2018-08-23 23:46] svarlamov commented on #49
Dupe

[2018-08-23 23:47] svarlamov commented on #47
Will be fixed by updated layout. Closing

[2018-08-23 23:47] #47 closed

[2018-08-24 02:50] svarlamov opened #50 "Consolidate queries on grading page"
There is a lot of duplication between the two GQL queries on the grading page. Reduce to one. GQL backend already supports this.

[2018-08-24 02:51] svarlamov opened #51 "Reload data in background of quiz on each answer"
Title says it all. Need to show the updated scores etc on each question answer

[2018-08-24 06:38] svarlamov commented on #51
done -- happens on quiz dialog close

[2018-08-24 06:38] #51 closed

[2018-08-24 07:06] svarlamov commented on #48
Also I'm pretty sure they do this bc not all ppl would recognize the icon... Anyways if u want to call them u can, but I'm going to close this because it's pretty off topic right now

[2018-08-24 07:06] #48 closed

[2018-08-26 15:01] svarlamov commented on #46
Done

[2018-08-26 15:01] #46 closed

[2018-08-27 03:37] svarlamov opened #52 "Decrease JS bundle size"
The JS bundle right now is well over 1MB which is far too big for briskly loading the site on mobile/slow networks. Not sure exactly where to start with this, but it's a key enhancement.

[2018-08-27 03:40] svarlamov commented on #44
@kkhenkina-EXL Can you try this out again? I'm unable to replicate that behaviour. I do briefly see a graphql-related error in the header when I click log out, but once I click the "try it out" button on the landing page everything loads fine for me.

[2018-08-27 03:41] svarlamov opened #53 "Graphql errors in header on logout"
Ref #44

[2018-08-27 10:26] svarlamov commented on #42
Gotta chime in here as well... There is a much stricter inactivity timeout for for sensitive areas of the site (like the account management page), however, I think it is just terribly annoying to be logging users out on the normal page. Even GitHub (a site where people manage lots of private info) doesn't really have an inactivity timeout... Can we close or re-open this with a clearer goal? I'm no

[2018-08-27 10:47] svarlamov commented on #38
Updated link in subscriptions system for redirect. This new page is deployed and will wait until the user is upgraded then refresh and go to dashboard -- ensuring that they have premium!

![image](https://user-images.githubusercontent.com/10859025/44655935-8c5baf00-aa29-11e8-95a3-839ca872a66c.png)

[2018-08-27 10:47] #38 closed

[2018-08-27 11:12] svarlamov opened #54 "Navbar gravatar background"
Add white background behind the gravatar in the navbar to make it more visible when a transparent image is used

[2018-08-28 01:25] #54 closed

[2018-08-28 01:27] svarlamov opened #55 "Decrease initial page load time"
Right now it takes several seconds to initially load most pages in the app -- this is largely due to the weight of the frontend... This causes a lot of user attrition and we need to speed it up to capture a higher percentage of users that discover EXLskills

[2018-08-31 02:59] kkhenkina-EXL commented on #42
If you're both fine with the redirect as is that's fine with me!

[2018-08-31 03:06] kkhenkina-EXL commented on #44
@svarlamov  Unfortunately still experiencing this, video: https://exlinc-docs.awsapps.com/workdocs/index.html#/share/document/f55a7b3506147611015579a5d0d59e4cab486185cc715e61034c6583bca5ea17 not sure if I just click too fast?

[2018-08-31 03:14] svarlamov commented on #44
Thanks for the video, next time please also show console output (with preserve log enabled) but this time it was okay as I can replicate. Doesn't seem to be related to the speed of the process, just to the steps themselves. Client issue. Will fix

[2018-09-03 18:26] svarlamov commented on #55
Reconfigured gzip to correctly serve static files with compression. Reduced size of main JS chunk by 75% (less than 500kb now)

[2018-09-05 04:20] stanvarlamov opened #56 "Optimize Load of Locale-specific Translations"
Currently, all translations are physically assembled into the main js chunk, which includes json files and `moment` - provided locales.
https://github.com/moment/moment/issues/4025 has multiple points listed on how their part can be optimized. Need to review and see what can be implemented and how. The implementation should work using the existing version of webpack (2)

[2018-09-05 04:22] stanvarlamov commented on #55
Identified Translations and Localization content as an opportunity to remove (except the required one)  from the initial bundle - see #56

[2018-09-05 04:56] stanvarlamov commented on #56
The translation content included into the main js chunk from `/app/translations/...json` files and from the `moment` package is total about 350Kb, which is 15% of the current 2Mb main chunk. Leaving most of it out may help speeding up the compilation of the initial chunk

[2018-09-06 11:20] stanvarlamov opened #57 "web-client PlainLink causes browser Warning on enclosed links (<a>) in SideBarMenu"
Before app/common/components/PlainLink/index.tsx was introduced on Aug 20 and added above ItemWrapper in SideBarMenu (https://github.com/exlskills/web-client/commit/bee8be02a6e9e1983e3fb4992c38d3e6a4ea26b2), the SideBarMenu item was being generated as HTML `<t>` and the child component with the Text provided `<a>` link functionality.

After the change, the PlainLink is the source of the `<a>` elem

[2018-09-07 06:16] stanvarlamov opened #58 "Cut down download size by replacing animated .gif iFrame background with mp4/webm"
https://github.com/exlskills/web-client/blob/master/app/common/components/MarkdownStyleWrapper/index.tsx uses https://s3-us-west-2.amazonaws.com/exlskills-misc-assets/iframe-loading.gif as the background to be displayed while the Editor is loading into the iFrame. The size of the gif is 928Kb. Need to explore options of using Video formats instead that can help cutting the download size by up to 9

[2018-09-07 22:19] svarlamov commented on #58
Initially the GIF was not the first choice -- would much rather use an SVG and/or CSS animations or something but wasn't able to really find anything online...

Setting HTML content inside of the iframe during loading requires a bit of engineering on our side and feels pretty error-prone IMHO so I also avoided that.

I think if we can get a CSS animation setup that would be the absolute lightest-w

[2018-09-07 22:21] svarlamov commented on #57
Noticed these warnings as well but didn't have a chance to track down the line # in the TS. Do you have that on-hand already?

[2018-09-08 07:22] stanvarlamov commented on #57
Fixed by adding an identical styled component for the Item enclosed into the PlainLink, with `div` vs. `a`. Pushed with the `code-splitting-work` enhancements

[2018-09-12 03:59] svarlamov opened #59 "Course sidebar, card nav major UI refactor"
Updating the course sidebar and card navigation per the following designs:

### Desktop
![image](https://user-images.githubusercontent.com/10859025/45401262-6b7a9700-b682-11e8-9604-b23fb4da28cf.png)

### Mobile
TODO? @LanderMuruaga

- [x] Remove old card header

- [x] Add section title to card header

- [x] Add dotnav to card header (also replacing exam nav with this new dotnav since it's a shared

[2018-09-12 06:24] svarlamov opened #60 "Course overview page UI redesign"
Major updates to the course overview page (incl lots of new mobile support)

**NOTE** Some aspects of the designs have not been finalized and various facets have already been changed since these were produced (such as the card navigation which has changed significantly). Also a lot of the wording in the GUI is still subject to change.

### Overview of updates

![image](https://user-images.githubus

[2018-09-12 06:30] svarlamov opened #61 "Course card UI, dashboard UI, courses list UI update"
Updating the design for the 'card' that shows up on /courses and in various course carousels

### Desktop

![01-dashboard](https://user-images.githubusercontent.com/41282864/45565141-fa3e0e00-b852-11e8-99ab-60ad613bdfac.png)

![02-courses](https://user-images.githubusercontent.com/41282864/45565202-2d809d00-b853-11e8-892a-edef20aadebb.png)

Note the right menu brings some extra elements to figure

[2018-09-12 22:40] svarlamov opened #62 "Migrate site to Ghost & setup blog/landing page AMP"
- [x] Setup Ghost on ECS

- [ ] ~~Integrate with S3~~ [Not reqd]

- [ ] ~~Configure behind cloudfront (likely will include putting the entire app behind CF)~~[Later]

- [x] Migrate site and content to ghost

- [x] Configure AMP

[2018-09-12 22:42] svarlamov opened #63 "Configure AMP for content pages on /learn"
- [ ] Courses list AMP

- [ ] Course page AMP (incl., info page)

- [ ] Course card AMP

[2018-09-13 11:12] LanderMuruaga opened #64 "Live Course design"
Design for the different Steps for the LIVE Course

- [x] Course list/grid
![00-courses](https://user-images.githubusercontent.com/41282864/45485047-80285f00-b756-11e8-88cf-21d65ec9355a.png)

- [x] Course page.
![1 - course detail-b](https://user-images.githubusercontent.com/41282864/45485055-84547c80-b756-11e8-9783-946bd361c6d0.png)

- [x] LIVE Course detail page.
![08-live course](https://user-i

[2018-09-13 11:44] LanderMuruaga commented on #61
Updated designs

[2018-09-13 12:56] LanderMuruaga commented on #60
Added Practice and Navigation from Q&A to course detail.
Elements to notice.
1. Dropdow (not necessary but helpful). We can avoid it or implement later if necessary.
2. Top header Back Arrow to move back from Questions/Practice to Course detail

[2018-09-14 02:56] svarlamov commented on #64
Thanks for posting this  @LanderMuruaga. Adding my comments below:

1) It's unclear in the current UI that the Live course is a sign up for a series of live sessions (basically cohorts) that start on different dates and then follow a schedule. This is because the live courses will have beginning lessons and then progress with the same group of people. So maybe we can update the "Agenda" section to

[2018-09-14 03:00] svarlamov opened #65 "Show contributors list in the card and course pages"
We should recognize course contributors (via GitHub/`git blame`) for the course and also for each piece of content.

@LanderMuruaga This would be an enhancement to the course UI update that we're working on now. Potentially we can implement this after that initial design is implemented.

@stanvarlamov This would require some updates to the GQL API and I will also need to update the ecosutil import

[2018-09-14 03:57] svarlamov commented on #59
@LanderMuruaga Can you please send me the colors to use for the dark components:

* Dark sidebar colors

* Dark page background

* Dark content background (i.e., content background)

[2018-09-14 04:07] svarlamov commented on #61
@LanderMuruaga Can you please clarify the logic for resizing the course cards? For instance, how do we manage the image dimensions, etc.

Also would be nice to have the dimensions for the card and what the padding is btwn components

[2018-09-14 05:40] svarlamov opened #66 "Android app boilerplate"
- [ ] Setup boilerplate in https://github.com/exlskills/android-app

[2018-09-14 05:44] svarlamov commented on #61
@LanderMuruaga Also if you were checking things off -- pls don't. Unless it starts with "Design ..." because they will be checked off as they are actually implemented

[2018-09-14 17:29] LanderMuruaga commented on #61
@svarlamov updated Dashboard and Course grid in both Desktop + Mobile with the right size of cards.
All they bring the same size, but I think next info is interesting for card behaviour (1).

**IMAGE usage**
I like this way of using images...
https://getbootstrap.com/docs/4.1/content/images/
(1) Behaviour should be like this... https://getbootstrap.com/docs/4.1/examples/album/#

I'm preparing a do

[2018-09-14 17:30] LanderMuruaga commented on #61
Not touching nothing is not assigned to me or related to design. Anyway if it was me, I'm so sorry.

[2018-09-14 17:39] LanderMuruaga commented on #64
@svarlamov , looking to it that way it is :) I understood wrong. Hope this solves it... both, Desk + mobile

**Doubts...**
If Pricing, is same for all courses inside Agenda, it could go on the top highlighted, as a CTA making it more attractive.

**Register**
After clicking it, it should bring users to payment confirmation and back to the curse.
Once user is registered to a LIVE course, can we sho

[2018-09-14 17:52] LanderMuruaga commented on #59
Desk & Mobile Logic (responsive):

LEARN
**Desk:** Right sidebar + Moving from Unit to another through dots or Next/Prev.
**Mobile** no sidebar, only the header Arrow to go back to course + Moving from a Unit to another with arrows. Aditionally I added a dropdown on title to move to other unit/content. It is a power feature. Most users will never discover because they go straight-forward through t

[2018-09-15 01:42] LanderMuruaga commented on #60
Adding some updated content for mobile...

NOTE: The "Menu" below the header, shows navigation into the course. It is actually the same content than the Left sidebar on desktop. (!) The exception will be the course doing/learning screens that will be without menu to focus on doing it (similar to shopping cart screens that are clean to avoid distractions).

1. **Course detail page**: Specs section

[2018-09-15 05:29] svarlamov opened #67 "Setup backend devstack for improved first-time dev experience"
Interview project 1 for @andyluu1908

- [ ] Setup a `docker-compose.yml` in the new repo at https://github.com/exlskills/devstack that should be comprised of the MongoDB v3.6, `gql-server`, `auth-server`, and `usi-server`

- [ ] Create LICENSE file for Apache v2 license for the devstack project

- [ ] Create a README.md file that explains what the devstack project does, the pre-reqs, how to instal

[2018-09-15 05:35] svarlamov commented on #41
We're re-doing the billing flow, so this is no longer an issue

[2018-09-15 05:35] #41 closed

[2018-09-17 13:12] LanderMuruaga opened #68 "General styling"
Style and specs discussion.
Will cover from brand styles to interface layout and spacings, fonts, colors, etc.

Aligned with the new styles, here are some specs...

1. General styles (interface)
 - Typography
 - Colors
2. Mobile layout specs
  - General rules
  - Layout spacing
  - Top menu (dropdown) spacing
  - Content modules spacing

**Download Specs document**

[EXLskills-Specs-v01.pdf](https

[2018-09-17 14:40] LanderMuruaga commented on #68
Adding styles for cards + container

-----------
Example: https://getbootstrap.com/docs/4.1/examples/album/
-----------

**COTAINER LAYOUT**

.container {
	width: 100%
	}

* Breakpoints + Content width relationship

@media (min-width: 1200px)
.container {
	max-width: 1140px;
	}

@media (min-width: 992px)
.container {
	max-width: 960px;
	}

@media (min-width: 768px)
.container {
	max-width: 720px;

[2018-09-18 03:05] svarlamov commented on #68
@andyluu1908 I'm sure that you already got the notifications, but please make sure to check out my comments on your last PR prior to working on this. Also make sure to grab a fresh copy of the `master` branch of `web-client` as it has lots of new changes

[2018-09-18 03:08] svarlamov commented on #67
@stanvarlamov When you have a chance can you follow up on this issue? And then we can update the docs for the `exlskills/devstack`. Will be a great feature to have rounded out for all new devs

[2018-09-18 03:10] svarlamov commented on #66
@Pdysted How are things going on this? Is there still an issue pushing stuff to git?

[2018-09-18 07:57] svarlamov opened #69 "Link to help center from application"
Since we now have a pretty substantial library of help resources at https://help.exlskills.com it would be great to have some conspicuous links from the application (/learn) to this help center. We can also probably link out to specific pages near actions (i.e., certificates, etc.)

- [ ] Discuss feature

- [ ] Finalize and post design

- [ ] Implement web front end

[2018-09-18 08:04] LanderMuruaga commented on #69
Exciting!
This is the idea, to add the help content in place, "next to the problem" so we avoid possible frustration moments (if so) or contact and support emails asking for help.
Actually any FAQ module we have on the designs could become a HELP section with related questions. It is actually the same objective, solve user's doubts.

Also, we need to add a link into the footer (marketing/public si

[2018-09-18 08:34] LanderMuruaga commented on #68
@andyluu1908 here is a small doc with colors in place.
Hope is helpful.

![color-specs-light-theme](https://user-images.githubusercontent.com/41282864/45674927-6019e680-bb2e-11e8-96c2-a008e9a3b0e8.png)

[2018-09-18 08:54] LanderMuruaga commented on #68
Dark theme colors.
I'm updating the PDF on the top with some minimum fixes.
![color-specs-dark-theme](https://user-images.githubusercontent.com/41282864/45676038-20083300-bb31-11e8-9c57-3a7fc2051248.png)

[2018-09-18 12:42] LanderMuruaga commented on #68
Adding Desktop layout with sidebar + header spacing.

![desktop-layout-w_sidebar](https://user-images.githubusercontent.com/41282864/45687563-75ebd380-bb4f-11e8-81a0-45be2efaecc6.png)

[2018-09-18 14:37] LanderMuruaga commented on #61
@andyluu1908 adding Dashboard + Course list Dark theme

![d-01-dashboard](https://user-images.githubusercontent.com/41282864/45695118-0b439380-bb61-11e8-9536-5a99cef6adb1.png)
![d-02-courses dark](https://user-images.githubusercontent.com/41282864/45695119-0b439380-bb61-11e8-9c38-065b7b03f644.png)

**Please**, note that the left sidebar content is a "future projection". Right now we don't have all

[2018-09-18 14:40] LanderMuruaga commented on #60
@andyluu1908  Adding Course details for Dark theme.
Please, let me know if you need any specific screens/piece in order to prioritize them. Thanks.

![d-03 - course detail](https://user-images.githubusercontent.com/41282864/45695301-6aa1a380-bb61-11e8-8c94-945969143165.png)
![d-04 - learn course](https://user-images.githubusercontent.com/41282864/45695302-6aa1a380-bb61-11e8-903f-ba293a56c829.png)

[2018-09-19 14:21] LanderMuruaga opened #70 "Billing"
@svarlamov @andyluu1908 some screens that represent the flow for billing...

Flow/Screen order:
1. Button on top (Credits w/ star)
2. Login (if not loged)
3. Add credit card
4. View card or remove it

DESKTOP

![desk - billing 00](https://user-images.githubusercontent.com/41282864/45759320-f4b43f80-bc27-11e8-8c06-4f5214e3e650.png)
![desk - billing 01](https://user-images.githubusercontent.com/4128

[2018-09-19 16:12] LanderMuruaga commented on #60
Adding course pages for Dark theme...

![d-05 - course content](https://user-images.githubusercontent.com/41282864/45766427-d5251300-bc37-11e8-8cf6-6a53b6e18092.png)
![d-06-progress](https://user-images.githubusercontent.com/41282864/45766313-88413c80-bc37-11e8-9cc4-44ed779b4f7b.png)

[2018-09-20 00:45] svarlamov commented on #44
@kkhenkina-EXL I believe that the latest production has a fix for this... Can you check it out?

[2018-09-20 10:55] LanderMuruaga commented on #68
Adding specs for desk layout and container...
@andyluu1908, suggestions are welcome if you want to discuss any kind of spec/sizing/matter

![desktop-layout-specs](https://user-images.githubusercontent.com/41282864/45813986-6cd83f00-bcd4-11e8-936f-126c1c906e81.png)

[2018-09-20 16:34] LanderMuruaga commented on #68
Internal modules spacing...
1 col, 2 cols, 3 cols.

![desktop-layout-specs2](https://user-images.githubusercontent.com/41282864/45832997-c0ae4c80-bd03-11e8-9577-6bcae485a838.png)

[2018-09-20 21:14] kkhenkina-EXL commented on #44
LGTM

[2018-09-20 21:14] #44 closed

[2018-09-22 08:36] #62 closed

[2018-09-24 07:30] LanderMuruaga commented on #68
Updated
![color-specs-dark-theme](https://user-images.githubusercontent.com/41282864/45941001-8501d400-bfdc-11e8-8040-6bbdf83a37e3.png)

[2018-09-24 08:56] LanderMuruaga commented on #68
Sidebar behavior...
![sidebar behaviour](https://user-images.githubusercontent.com/41282864/45943898-80dbb380-bfe8-11e8-9419-aa2d7fe2a648.png)

[2018-09-24 12:37] svarlamov commented on #45
Deprecated and removed Zoho, so this is no longer relevant

[2018-09-24 12:37] #45 closed

[2018-09-24 12:38] svarlamov commented on #1
@andyluu1908 Can you wrap up this issue when you have a chance? Think all that's left is settting up the images. LMK if you need help and I can upload them to S3

[2018-09-24 12:39] svarlamov commented on #29
I fixed this a while ago...

[2018-09-24 12:39] #29 closed

[2018-09-24 12:42] #53 closed

[2018-09-24 12:43] svarlamov commented on #40
This is no longer relevant since we are now using credits and they show on both mobile and desktop.

[2018-09-24 12:43] #40 closed

[2018-09-25 13:53] andyluu1908 commented on #1
@svarlamov please upload them into S3 and give me the links.

[2018-09-25 14:45] svarlamov commented on #1
https://s3-us-west-2.amazonaws.com/exlskills-error-images/sage-expl.png
https://s3-us-west-2.amazonaws.com/exlskills-error-images/sage-keys.png
https://s3-us-west-2.amazonaws.com/exlskills-error-images/sage-question.png
https://s3-us-west-2.amazonaws.com/exlskills-error-images/sage-meh.png

[2018-09-25 14:45] svarlamov commented on #1
@andyluu1908

[2018-09-26 05:48] svarlamov commented on #1
Done via https://github.com/exlskills/web-client/pull/5

[2018-09-26 05:48] #1 closed

[2018-09-29 08:56] stanvarlamov commented on #42
As a logged in user has access to credit management, purchasing, etc., as a security measure, an explicit click on "Log Out" should clear the user session and cookies so that no one can (accidentally) get into the user's account by simply accessing the site again on the same browser

[2018-09-29 08:58] svarlamov commented on #42
That's already how it works. Just click on your profile and logout. Done

[2018-09-29 08:58] #42 closed

[2018-09-30 18:21] LanderMuruaga opened #71 "Cards, banners & responsive elements"
Information about course cards, banners and responsive elements...

CARDS:
All they bring the same size, but I think next info is interesting for card behaviour (1).

**IMAGE usage**
I like this way of using images...
https://getbootstrap.com/docs/4.1/content/images/
(1) Behaviour should be like this... https://getbootstrap.com/docs/4.1/examples/album/#

I'm preparing a doc with all **marging/padd

[2018-10-01 14:42] LanderMuruaga opened #72 "Access screens"
Login, register and access screens...

![09-login](https://user-images.githubusercontent.com/41282864/46295665-edcaec80-c598-11e8-8718-f364487611a3.png)
![09a-login](https://user-images.githubusercontent.com/41282864/46295666-ee638300-c598-11e8-8feb-5334099c7d76.png)
![m-09-login](https://user-images.githubusercontent.com/41282864/46295667-ee638300-c598-11e8-909c-4c4dab7507ed.png)
![m-09b-register

[2018-10-02 02:20] stanvarlamov commented on #67
A complete and working docker-compose devstack has been set up and tested. Some additional features may need to be added, e.g., time-based data seeds. Thorough documentation is a WIP, but the tasks per the initial check list have been completed, so closing the issue

[2018-10-02 02:20] #67 closed

[2018-10-02 03:14] kkhenkina-EXL opened #73 "CC Entry Text Color"
**URL:** https://exlskills.com/learn-en/dashboard

**Current behavior:** The credit card number entry text is difficult to read due to it being black.

**How to Recreate:** Open the billing console and attempt credit card number entry.

**What to Fix:** Text color of credit card entry.

**Expected Outcome:** These fields should have of background color per the designs in #70.

**Current Screenshot

[2018-10-04 21:08] ddevault commented on #39
Hi @svarlamov, this is still a problem that needs addressing. Can you please remove "open source" from your language describing your offerings?

[2018-10-05 16:33] LanderMuruaga opened #74 "Dashboard - Course list"
Coming from issue... https://github.com/exlskills/exlskills/issues/61

This issue is for the treatment and discussion of design and functionalities on...
- Dashboard
- Course list/grid
- Sibling pages

The designs added are for **Light & dark theme** as well as **Desktop and mobile**

DESKTOP

**Light theme**
The simplified slidechos aims to make front-end and dev easier. Look at it as a optional

[2018-10-05 16:37] LanderMuruaga commented on #61
IMPORTANT:
Discussion and updates to this issue have been moved to Issue https://github.com/exlskills/exlskills/issues/74

[2018-10-05 16:38] LanderMuruaga commented on #61
**IMPORTANT:**
Discussion and updates to this issue have been moved to Issue https://github.com/exlskills/exlskills/issues/74

[2018-10-05 16:38] #61 closed

[2018-10-05 16:44] LanderMuruaga opened #75 "Course overview pages"
Coming from issue... https://github.com/exlskills/exlskills/issues/60

This issue is for the treatment and discussion of design and functionalities on...

- Course Overview
- Course Content
- Course Progress
- Course Certificate
- LIVE course

The designs added are for Light & dark theme as well as Desktop and mobile

DESKTOP

**Light**
![03 - course detail](https://user-images.githubusercontent.c

[2018-10-05 16:49] LanderMuruaga commented on #60
IMPORTANT:
Discussion and updates to this issue have been moved to Issue https://github.com/exlskills/exlskills/issues/75

[2018-10-05 16:49] #60 closed

[2018-10-05 17:00] LanderMuruaga opened #76 "Course doing"
More details about internal navigation related content on issue https://github.com/exlskills/exlskills/issues/59

This issue is for the treatment and discussion of design and functionalities on...

- Course doing pages
- Course practice pages

**NOTE:**
On MOBILE course doing pages the navigation menu has been removed to help users focus on course tasks and avoid distractions.
Additionally we can

[2018-10-05 17:02] LanderMuruaga commented on #59
IMPORTANT:
Discussion and updates to this issue have been moved to Issue https://github.com/exlskills/exlskills/issues/76

[2018-10-05 17:02] #59 closed

[2018-10-05 17:06] LanderMuruaga commented on #71
Responsive behaviour

![sidebar behaviour](https://user-images.githubusercontent.com/41282864/46549270-b11d2f00-c8d1-11e8-85ea-80fa9da09196.png)
![sidebar behaviour2](https://user-images.githubusercontent.com/41282864/46549271-b11d2f00-c8d1-11e8-9429-f6571ce663e2.png)

[2018-10-08 16:18] LanderMuruaga commented on #64
I think the only element we are missing here is the banners or adds that link all those pages.
Working on them.

[2018-10-09 01:46] svarlamov opened #77 "[REPL] Show quick fixes menu"
Currently the IDE shows the lightbulb for quick fixes, however, we're not getting the menu on-click. Recommend trying to upgrade monaco version first to see if there's a fix (and to sync up), then we can debug further

![image](https://user-images.githubusercontent.com/10859025/46642155-2295ff80-cba8-11e8-90fd-9e99336df531.png)

[2018-10-15 07:14] svarlamov commented on #50
Completed via migration to SPF

[2018-10-15 07:14] #50 closed

[2018-10-15 07:15] svarlamov commented on #4
Completed via migration to SPF

[2018-10-15 07:15] #4 closed

[2018-10-15 09:58] LanderMuruaga commented on #30
Solved with new navigation and functionalities.
![exlkit-course doing_](https://user-images.githubusercontent.com/41282864/46944120-8b322000-d071-11e8-8cf9-11da91b8fa3a.png)

[2018-10-15 09:58] #30 closed

[2018-10-15 10:07] LanderMuruaga opened #78 "Course doing navigation & functionalities"
Some issues to solve on course navigation functionalities.
Need to solve interaction and design.

- [ ] Show hint should be displayed and highlighted over the button to make it visible and obvious.
- [ ] Show explanation should be displayed over the button to make it visible (in between the answers and the action)
- [ ] Submit + Next question interaction needs to be easy and obvious. Solve it.

[2018-10-15 22:50] LanderMuruaga commented on #78
Just testing some options...
![q1](https://user-images.githubusercontent.com/41282864/46982622-47750000-d0dd-11e8-9a34-f2ec8efc5c5f.png)
![q1a](https://user-images.githubusercontent.com/41282864/46982623-47750000-d0dd-11e8-86b8-eb04e03de49c.png)
![q2](https://user-images.githubusercontent.com/41282864/46982629-5065d180-d0dd-11e8-9638-5e55d6a00f52.png)
![q3](https://user-images.githubusercontent.co

[2018-10-17 12:25] LanderMuruaga commented on #78
TO CHECK:
When user checks the explanation on a question, button should be another color than green. Probably yellow following the previous pattern we created (You failed, Try again).

TO UNDERSTAND FEASIBILITY:
Another friction point could be the answer itself when user fails a question. Making checkboxes/radio-buttons **inactive** will help to avoid frustration of responding back, but this is qu

[2018-10-17 15:34] LanderMuruaga commented on #20
Edit in Github on **Course Question**
Different options...
1. Regular, simple, Edit in Github link with icon
2. Dropdown showing available options in case we need to display more functionalities, i.e. Show as Cards

------

**1. Regular, simple, Edit in Github link with icon**
![editgit-simple](https://user-images.githubusercontent.com/41282864/47097904-9c765a80-d232-11e8-9a6a-8015a7001c32.png)

-

[2018-10-18 06:03] svarlamov commented on #78
@LanderMuruaga some answers

When user checks the explanation on a question, button should be another color than green. Probably yellow following the previous pattern we created (You failed, Try again).

I'm not sure I see the rationale for this... The way that's it's currently implemented clearly highlights the "Next" action as the next thing to do and making it red if you get the question wrong

[2018-10-18 06:04] svarlamov commented on #52
Issue deprecated by move to spf-server

[2018-10-18 06:04] #52 closed

[2018-10-18 06:05] svarlamov commented on #6
Issue deprecated by move to spf-server

[2018-10-18 06:05] #6 closed

[2018-10-18 06:06] svarlamov commented on #11
Issue old/deprecated by move to spf-server

[2018-10-18 06:06] #11 closed

[2018-10-18 06:06] svarlamov commented on #13
Issue deprecated by move to spf-server

[2018-10-18 06:06] #13 closed

[2018-10-18 06:06] svarlamov commented on #14
Issue deprecated by move to spf-server

[2018-10-18 06:06] #14 closed

[2018-10-18 06:08] svarlamov commented on #16
Issue deprecated by move to spf-server

[2018-10-18 06:08] #16 closed

[2018-10-18 06:10] svarlamov commented on #36
Issue deprecated by move to spf-server

[2018-10-18 06:10] #36 closed

[2018-10-18 06:30] svarlamov opened #79 "[GQL] New exam/quiz queries/mutations"
Tasks:

- [x] Add field to `question` schema `exam_only: boolean (optional, default false)`

- [x] `mutation startExam(courseID, unitID) -> ExamSession // Check that I have not exceeded limits`

- [x] `mutation setExamQuestionAnswer(examSessionID, questionID, question data) -> void // Don't return correct of false, just record input and return OK`

- [x] `query getCurrentExamQuestionAnswer(examSes

[2018-10-18 06:36] svarlamov commented on #43
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:36] #43 closed

[2018-10-18 06:36] svarlamov commented on #55
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:36] #55 closed

[2018-10-18 06:36] svarlamov commented on #56
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:36] #56 closed

[2018-10-18 06:38] svarlamov commented on #57
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:38] #57 closed

[2018-10-18 06:39] svarlamov commented on #64
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:39] #64 closed

[2018-10-18 06:39] svarlamov commented on #73
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:40] #73 closed

[2018-10-18 06:40] svarlamov commented on #68
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:40] #68 closed

[2018-10-18 06:49] svarlamov commented on #71
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:49] #71 closed

[2018-10-18 06:49] svarlamov commented on #70
Closing as irrelevant/fixed due to the migration to spf-server

[2018-10-18 06:49] #70 closed

[2018-10-18 19:42] svarlamov commented on #79
All done from the eocsutil side of things

[2018-10-19 00:53] stanvarlamov opened #80 "Update User collection and queries to enable Instructor information"
- [ ] add fields to User collection
   - is_instructor: boolean
   - instructor_topics: string[], matching list_def type "instructor_topic"
- [ ] add listInstructors query hardcoded to is_instructor=true; return
   - user Id
   - primary_locale
   - username
   - full_name
   - headline
   - biography
   - avatar_url
   - instructor_topics (return `_en` and `_local` - both are always filled in)

S

[2018-10-19 08:01] stanvarlamov commented on #80
Sample query http://localhost:8080/graph?query=query%20li%20%7B%0A%20%20listInstructors(instructorTopics%3A%20%7Bvalues%3A%20%5B%22Java%22%5D%7D%2C%20resolverArgs%3A%20%5B%7Bparam%3A%20%22text%22%2C%20value%3A%20%22Java%22%7D%2C%20%7Bparam%3A%20%22full_name%22%2C%20value%3A%20%22Java%22%7D%2C%20%7Bparam%3A%20%22primary_locale%22%2C%20value%3A%20%22en%22%7D%5D)%20%7B%0A%20%20%20%20edges%20%7B%0A%20

[2018-10-19 08:01] #80 closed

[2018-10-19 11:46] LanderMuruaga commented on #75
Changed aesthetics on Desktop light to match Dashkit theme with our content.
Some notes and highlights...

------

**Course Overview Page:**
1. Primary CTA on center content.
2. Added Live Course + a link to Instructor help below. It could be place on the sidebar also.
3. Added Contributors module + Edit on Git on sidebar
![03-course overview](https://user-images.githubusercontent.com/41282864/472

[2018-10-19 11:51] LanderMuruaga commented on #65
Added contributor list into a sidebar module of **Course detail**.
I wont add them into course cards on Course list or Dashboard. It adds a lot of noise and I dont see it useful at this point.
In the course detail instead is really usegul, encouraging users to take part.

It could be shown in 2 ways.

1. Contributors + Edit in Git together in the same module (check the image for more info)
2. Cont

[2018-10-19 13:15] LanderMuruaga commented on #76
Adding 2 pictures about it. First one is similar to what we have with some minimun improvements. Second one is the ideal situation. Some explanations added below.

1. Navigation between Questions changed. Little dots make less noise (Really interesting but not primary)
2. Question card should be inside the primary card as a card into a card (IF POSSIBLE). It makes the question and answer relations

[2018-10-19 13:31] LanderMuruaga commented on #78
@svarlamov

You are right. Red should not be the color. It means wrong, and users get blocked with this.
My concern is that the green button says "You did it right" and allows you to go to next question, but in this case you didn't it right, so user needs to understand it to avoid future frustrations.

Showing the answers inactive is one point to show that, but to make it right on our side, the bu

[2018-10-22 20:09] LanderMuruaga commented on #74
Adding updated designs.
2 different options; one for new users (without any course), the other one with current courses.

![01-dashboard-a](https://user-images.githubusercontent.com/41282864/47316240-f61dc100-d646-11e8-9fee-9165ae8baaa0.png)

![01-dashboard-b](https://user-images.githubusercontent.com/41282864/47316298-12216280-d647-11e8-8c6f-2de8394d65fe.png)

[2018-10-22 20:21] LanderMuruaga opened #81 "Instructor pages"
Instructor pages.
- Instructor Category (Note: instead of online/offline, it'll display Verified or not)
- Instructor detail page

![10-instructor profile2](https://user-images.githubusercontent.com/41282864/47316992-b0fa8e80-d648-11e8-8f5a-6bb7bfd44a66.png)
![11-instructor section](https://user-images.githubusercontent.com/41282864/47317002-ba83f680-d648-11e8-8adb-b8e90b8a5261.png)

[2018-10-23 17:55] Esaslow opened #82 "Markdown tables not loading cards"
When I add a table in markdown it doesn't render correctly
![untitled](https://user-images.githubusercontent.com/20568211/47380357-18005d80-d6b2-11e8-80b7-8b7089a0d1e2.jpeg)

[2018-10-24 11:19] LanderMuruaga opened #83 "Public web (marketing side)"
Adjusted to Dashkit theme.
For the header we should use the Default Dashboard theme header (dark blue) or any other that allows us to add the top banner.

Please, check both options, with and without courses:

![exlskills-index](https://user-images.githubusercontent.com/41282864/47426993-4e5fda80-d78f-11e8-813b-17b1c149857e.png)

![exlskills-index2](https://user-images.githubusercontent.com/412828

[2018-10-24 20:34] svarlamov commented on #83
@LanderMuruaga Please post a ZIP with the assets for the design with the suggested courses

[2018-10-24 22:45] Esaslow commented on #82
They definitely render now, would be nice if we have them render looking a little more like a table, but I'll take what I can get

[2018-10-25 00:15] Esaslow opened #84 "Missing lecture in 05_Advanced Python"
Changed the name of a folder and now we lost a lecture.  No rush but it would be nice to have that back...

[2018-10-25 04:10] stanvarlamov opened #85 "Global ID escaping fails on = when passed via WS to USI"
Examples of WS payload viewing "Introduction to Python" -> Variables -> Strings
[code]
This Section converts to `UnitSection:iOwUkcmfgmpU`, but the Course should be `Q291cnNlOmludHJvX3RvX3B5dGhvbg==` to convert properly

[2018-10-25 13:00] stanvarlamov commented on #85
Once the issue is fixed, this cleanup/conversion program can be executed to update each existing Card Interaction document with correct `course_item_ref` element https://github.com/exlskills/gql-server/blob/master/src/data-load/maintenance-and-conversion/card-interaction-set-course-item-ref.js

`card_ref` elements stay unchanged by design as those are being deprecated. The program will also skip a

[2018-10-26 16:50] svarlamov commented on #85
HandlebarsJS was escaping the IDs -- fixed that. Sent a DM @stanvarlamov regarding the USI. Think that's causing the issue now. Rolled back to a working state for now though

[2018-10-26 19:34] Esaslow commented on #82
Looks good enough, closing this issue for now

[2018-10-26 19:34] #82 closed

[2018-10-30 11:13] stanvarlamov commented on #79
Will be closing soon once the latest server code with `card_ref` removed is pushed into USI and GQL

[2018-10-30 13:33] LanderMuruaga commented on #83
New designs for Homepage and instructors site.
Added a zip with the assets.

![index-mobile-v2](https://user-images.githubusercontent.com/41282864/47721500-8d3ed600-dc50-11e8-83d9-7d92bf5f4321.png)
![index-v2](https://user-images.githubusercontent.com/41282864/47721502-8dd76c80-dc50-11e8-9d20-4ab75eb5db31.png)
![instructor-mobile](https://user-images.githubusercontent.com/41282864/47721540-a34c968

[2018-10-30 23:13] LanderMuruaga commented on #83
Footer Updated

![index-v3](https://user-images.githubusercontent.com/41282864/47756191-652b9300-dca1-11e8-81a0-d97cbf5112f6.png)

[2018-10-31 08:00] stanvarlamov opened #86 "Complete Eocsutil Github integration for automated course loading; remove card_ref"
Tasks:

- [ ] Code to bypass the inbound webhook if the trigger commit was auto-generated by this service. See below on marking auto-generated commits. By design, the webhook may contain references to multiple commits to the repo; if any manual commits are present in the list, the process should go on
- [ ] As the GitHub API-based packages work exclusively at the remote repo level (vs. the local g

[2018-10-31 09:55] stanvarlamov opened #87 "Run exam question grading on answer submission"
To eliminate long running processes, run grading by question, as soon as the answer is received. Then on the exam submission, accumulate latest grades for each question and present back in the mutation response

[2018-10-31 09:56] stanvarlamov commented on #79
Continues in #87 and #86 as further enhancements

[2018-10-31 09:56] #79 closed

[2018-10-31 23:41] stanvarlamov opened #88 "WSENV stay open after leaving Java course card"
Scrolling throw Java course cards - with or without answering card questions - leaves `wsenv` connections open in the browser - see the screenprint

![screenshot from 2018-11-01 07-33-16](https://user-images.githubusercontent.com/21002807/47824755-50d2bd80-dda9-11e8-8169-ffb89199f036.png)

[2018-11-02 03:26] stanvarlamov commented on #85
The HandlebarsJS fix works; rolled into GQL mutation on USI deprecation

[2018-11-08 23:48] svarlamov commented on #20
@stanvarlamov In eocsutil, I added `github_edit_url` field to each `card` document (the same document that contains the new `course_item_ref`). Can you add this field to GQL so that the client can get it for cards to then display in the UI? Let me know when that's being sent over -- thanks

[2018-11-08 23:52] svarlamov opened #89 "Night mode toggle intermittent functionality"
Sometimes the night mode toggle in the sidebar requires being clicked twice in order to have the updated theme take effect. Most likely related to SPF, as this part of the page is reloaded on each navigation. Best to resolve this by updating the related JS -- some of which is potentially located in the theme JS.

[2018-11-09 06:01] stanvarlamov commented on #20
Coded and pushed

[2018-11-09 06:01] #20 closed

[2018-11-15 16:38] #22 closed

[2018-11-15 16:48] LanderMuruaga opened #90 "First tour UX"
First tour user experience.

URL: http://bootstraptour.com

**Tour trigger strategy**
3 options available:   

1. Top header button - Always visible. Easy to understand and reach.
2. In place, on page first option (STEP 1) - Simplet option. Users don't have control about opening it freely or diabling it.
3. Lightbox banner with a welcome and a tour trigger. Users know what they are going to do. We

[2018-12-17 23:56] #83 closed

[2019-01-05 01:49] svarlamov opened #91 "SPF - FE Strings i18n"
- [x] Using the [i18n lib](https://www.npmjs.com/package/handlebars-intl) already set up in the templates, create strings files and replace string literals in `*.hbs` templates. Use a strings/messages file for the declaration of the strings in English. There might be a way to automate most of this process although naming the strings might still require some manual effort (unless use string content

[2019-01-11 07:36] stanvarlamov commented on #91
The coding for 'en' is completed. Passing to @svarlamov for the router work

[2019-02-21 09:40] #91 closed

[2019-02-22 02:57] svarlamov opened #92 "In production, don't read from FS on each request for .hbs layout files"
Subject explains -- code is here: https://github.com/exlskills/spf-server/blob/master/routes/index.ts#L349

If in production mode, save the content of the files into memory so as to avoid reading those files from FS each time. Should be able to save a few MS per request

[2019-02-22 03:01] svarlamov commented on #92
Also, to be clear, in debug mode, read from FS on each call to make sure we can get latest .hbs layouts without restarting server in dev

[2019-02-25 09:20] stanvarlamov commented on #92
Coded, tested and deployed into the global-nav-2 branch for roll-out with the new feature

[2019-02-25 09:20] #92 closed

[2019-03-19 08:34] auysh opened #93 "javaNew Course Suggestion"

[2019-04-01 13:10] 8984011647 opened #94 "about java"

[2019-05-11 15:33] abhishekpatange opened #95 "New Course Suggestion"

[2019-08-18 11:50] 030 opened #96 "How to reset course progress?"
I just created an account and I was scrolling through a course. Now my overall progress is 40%, while I was only checking the course. How to reset the progress?